<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find hubo_control)/config/hubo_control.yaml" command="load"/>

  <!-- load the controllers (left and right leg and left and right arm) -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/huboplus" args="joint_state_controller
                    left_hand_controller right_hand_controller legs_controller
                    joint_hand_sensor_controller1 joint_hand_sensor_controller2
"/>

                <!-- there are joints without transmissions (waist and neck):
                    joint_WST_position_controller joint_HNP_position_controller
                -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/huboplus/joint_states" />
  </node>

</launch>
